<%-include('partials/header');-%>

<h1>HOME</h1>
<p><%=homeContent %> </p>


<!-- forEach loop -->   <!--can also use for loop-->
 <%postDetails.forEach(function(postDetail){ %>                        <!--function parameter consider singular form of array-->

     <h1><%=postDetail.title%> </h2> 
      <p>
          <%=postDetail.content.substring(0,100)+ "..." %>          <!--using javascript substring method to truncate the string,here post content to 100 characters-->
          <a href="/posts/<%=postDetail.title%>">Read More</a>                 <!--read more will take to complete post page-->
     
     </p>           
     
       
    
<% }); %> 

<!-- <p>postDetails[i].title,postDetails[i].content </p>                    when using for loop -->

<%-include('partials/footer');-%>